
.vs/Block_B_Year_1/v16/.suo
.vs/Block_B_Year_1/v16/Browse.VC.db
.vs/Block_B_Year_1/v16/Browse.VC.db-shm
.vs/Block_B_Year_1/v16/Browse.VC.db-wal
.vs/Block_B_Year_1/v16/Browse.VC.opendb
.vs/Block_B_Year_1/v16/Solution.VC.db
.vs/Block_B_Year_1/v16/Solution.VC.db-shm
.vs/Block_B_Year_1/v16/Solution.VC.db-wal
MyMathLibrary/Debug/Matrix3x3.obj
MyMathLibrary/Debug/Matrix4x4.obj
MyMathLibrary/Debug/MyMathLibrary.lib.recipe
MyMathLibrary/Debug/MyMathLibrary.log
MyMathLibrary/Debug/MyMathLibrary.tlog/CL.command.1.tlog
MyMathLibrary/Debug/MyMathLibrary.tlog/CL.read.1.tlog
MyMathLibrary/Debug/MyMathLibrary.tlog/CL.write.1.tlog
MyMathLibrary/Debug/MyMathLibrary.tlog/Lib-link.read.1.tlog
MyMathLibrary/Debug/MyMathLibrary.tlog/Lib-link.write.1.tlog
MyMathLibrary/Debug/MyMathLibrary.tlog/Lib.command.1.tlog
MyMathLibrary/Debug/MyMathLibrary.tlog/MyMathLibrary.lastbuildstate
MyMathLibrary/Debug/MyRandom.obj
MyMathLibrary/Debug/Utility.obj
MyMathLibrary/Debug/Vector2.obj
MyMathLibrary/Debug/Vector3.obj
MyMathLibrary/Debug/Vector4.obj
MyMathLibrary/MyMathLibrary.idb
MyMathLibrary/MyMathLibrary.lib
MyMathLibrary/MyMathLibrary.pdb
MyMathLibrary/Release/Matrix3x3.obj
MyMathLibrary/Release/Matrix4x4.obj
MyMathLibrary/Release/MyMathLibrary.lib.recipe
MyMathLibrary/Release/MyMathLibrary.log
MyMathLibrary/Release/MyMathLibrary.tlog/CL.command.1.tlog
MyMathLibrary/Release/MyMathLibrary.tlog/CL.read.1.tlog
MyMathLibrary/Release/MyMathLibrary.tlog/CL.write.1.tlog
MyMathLibrary/Release/MyMathLibrary.tlog/Lib-link.read.1.tlog
MyMathLibrary/Release/MyMathLibrary.tlog/Lib-link.write.1.tlog
MyMathLibrary/Release/MyMathLibrary.tlog/Lib.command.1.tlog
MyMathLibrary/Release/MyMathLibrary.tlog/MyMathLibrary.lastbuildstate
MyMathLibrary/Release/MyRandom.obj
MyMathLibrary/Release/Utility.obj
MyMathLibrary/Release/Vector2.obj
MyMathLibrary/Release/Vector3.obj
MyMathLibrary/Release/Vector4.obj
RayTracer/Debug/Camera.obj
RayTracer/Debug/Framework.obj
RayTracer/Debug/main.obj
RayTracer/Debug/Material.obj
RayTracer/Debug/precomp.obj
RayTracer/Debug/Primitives.obj
RayTracer/Debug/Ray.obj
RayTracer/Debug/RayTracer.exe.recipe
RayTracer/Debug/RayTracer.ilk
RayTracer/Debug/RayTracer.log
RayTracer/Debug/RayTracer.obj
RayTracer/Debug/RayTracer.pch
RayTracer/Debug/RayTracer.tlog/CL.command.1.tlog
RayTracer/Debug/RayTracer.tlog/CL.read.1.tlog
RayTracer/Debug/RayTracer.tlog/CL.write.1.tlog
RayTracer/Debug/RayTracer.tlog/link.command.1.tlog
RayTracer/Debug/RayTracer.tlog/link.read.1.tlog
RayTracer/Debug/RayTracer.tlog/link.write.1.tlog
RayTracer/Debug/RayTracer.tlog/RayTracer.lastbuildstate
RayTracer/Debug/Screen.obj
RayTracer/Debug/vc142.idb
RayTracer/Debug/vc142.pdb
RayTracer/RayTracer.exe
RayTracer/RayTracer.pdb
RayTracer/RayTracer.vcxproj.user
RayTracer/Release/Camera.obj
RayTracer/Release/Framework.obj
RayTracer/Release/main.obj
RayTracer/Release/Material.obj
RayTracer/Release/precomp.obj
RayTracer/Release/Primitives.obj
RayTracer/Release/Ray.obj
RayTracer/Release/RayTracer.exe.recipe
RayTracer/Release/RayTracer.iobj
RayTracer/Release/RayTracer.ipdb
RayTracer/Release/RayTracer.log
RayTracer/Release/RayTracer.obj
RayTracer/Release/RayTracer.pch
RayTracer/Release/RayTracer.tlog/CL.command.1.tlog
RayTracer/Release/RayTracer.tlog/CL.read.1.tlog
RayTracer/Release/RayTracer.tlog/CL.write.1.tlog
RayTracer/Release/RayTracer.tlog/link.command.1.tlog
RayTracer/Release/RayTracer.tlog/link.read.1.tlog
RayTracer/Release/RayTracer.tlog/link.write.1.tlog
RayTracer/Release/RayTracer.tlog/RayTracer.lastbuildstate
RayTracer/Release/Screen.obj
RayTracer/Release/vc142.pdb
MyMathLibrary/MyMathLibrary.idb
MyMathLibrary/MyMathLibrary.idb
MyMathLibrary/MyMathLibrary.idb
*.iobj
*.obj
*.pdb
*.exe
*.recipe
*.ipdb
*.log
*.tlog
*.ipch
